@import "../lib/imports";

#settings-page {
	h1 {
		color: $yellow-darker;
	}

	h2 {
		color: $yellow-dark;
		margin-left: 2%;
	}

	h3 {
		color: $yellow;
		margin: auto;
	}

	h4 {
		color: $yellow;
		padding: 0 0 0 10px;
	}

	form {
		display: block;
		margin:auto;
		width: 70%;


		.fullColumn {
			display: inline-block;
			margin: 0;
			width: 100%;
			text-align: center;
		}


		.halfColumn {
			display: inline-block;
			margin: 10px 0;
			width: 50%;
			text-align: center;
		}

		label{
			text-align: left;
			display: block;
			margin: 20px 0;
			font-size: larger;

			&:first-child {
				margin-top: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}

			span {
				display: block;
				margin: 10px 0;
				width: 100%;
				height: 30px;
			}
			input {
				display: block;
				width: 90%;
				height: 30px;
				margin: 10px auto;
				outline: 0;
				border: 1px solid transparent;
				border-bottom: 1px solid $red;
				background: transparent;
				color: $yellow;

				&:focus {
					border: 1px solid $red;
					border-bottom: 1px solid $red;
				}

				&:disabled {
					border: 1px solid transparent;
					border-bottom: 1px solid $gray-dark;
					background: transparent;
					color: $gray-light;

					&::-webkit-input-placeholder { /* WebKit, Blink, Edge */
						color:    $gray-dark;
					}
					&:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
						color:    $gray-dark;
						opacity:  1;
					}
					&::-moz-placeholder { /* Mozilla Firefox 19+ */
						color:    $gray-dark;
						opacity:  1;
					}
					&:-ms-input-placeholder { /* Internet Explorer 10-11 */
						color:    $gray-dark;
					}
				}
			}
		}
	}

	::-webkit-input-placeholder { /* WebKit, Blink, Edge */
		color:    $yellow-darker;
	}
	:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		color:    $yellow-darker;
		opacity:  1;
	}
	::-moz-placeholder { /* Mozilla Firefox 19+ */
		color:    $yellow-darker;
		opacity:  1;
	}
	:-ms-input-placeholder { /* Internet Explorer 10-11 */
		color:    $yellow-darker;
	}
}
