#receive-page {
	h3{
		margin:auto;
	}
	button#receiver{
		display: block;
		margin:auto;
		margin-top: 35px;
	}

	label{
		display: block;
		margin: 20px auto;
		font-size: larger;

		input, span{
			display: block;
			margin: 10px auto;
			width: 375px;
			height: 30px;
		}
	}

	button:disabled{
		background:#dddddd;
	}

	form {
		display: block;
			margin:auto;
			width: 70%;
	}
}
