/*Connections Page*/
#connections-page {
  table {
    margin: auto;
  	width: 100%;
  	font-size: 15px;
    display: table;
  }

  /*Even children of the table are slightly lighter*/
  tr:nth-child(even) {
      background-color: #ffefa2;
  }
  tr{
      height: 1.5em;
  }
  th{
      padding-top: 7px;
  }
  td{
      padding-top: 3px;
    text-align: center;
  }
}
