<html>
		<head>
			<title>flare</title>
			<link rel="stylesheet" type="text/css" href="/css/global.css" />
			<link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css" />
			<script src="https://fb.me/react-0.13.3.js"></script>
			<script src="https://fb.me/JSXTransformer-0.13.3.js"></script>
			<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
			<script type="text/jsx" src="js/connections.jsx"></script>
			<script type="text/jsx" src="js/global.jsx"></script>
			<script type="text/jsx" src="js/home.jsx"></script>
			<script type="text/jsx" src="js/logs.jsx"></script>
			<script type="text/jsx" src="js/settings.jsx"></script>
			<script type="text/jsx" src="js/submit.jsx"></script>
			<script type="text/jsx">React.render(<Template />, document.body)</script>
		</head>
  </head>
  	<body>
	</body>
</html>
