#uploadForm {
	#selectFileHandler {
		display: none;
	}

	#progressBox {
		text-align: center;
		width: 100%;
		height: 30px;
		border: 1px solid black;

		#progressBar {
			height: 100%;
			width: 0;
			background-color: #f69696;
			background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
			background-size: 40px 40px;
			animation: progress-bar-stripes 2s linear infinite;

			&.complete {
				background-color: #52f965;
				background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
			}
		}
	}

	label {
		display: inline;
	}
}
