@mixin colorize($bg, $txt) {
	background-color: $bg;
	color: $txt;

	&.checked {
		//background-color: tint( $bg, 3% );
		background-color: $txt;
		color: $bg;
	}
}
@function tint($color, $percent){
	@return mix(white, $color, $percent);
}
@function shade($color, $percent){
	@return mix(black, $color, $percent);
}
