#progress-bar{
	margin-top: 15%;
	width: 90%;
	height: 25px;
	background-color: #f69696;
	background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-size: 40px 40px;
	animation: progress-bar-stripes 2s linear infinite;
}
@keyframes progress-bar-stripes {
  from  { background-position: 40px 0; }
  to    { background-position: 0 0; }
}
#submith3{
	margin-left: 40%;
}
#progress-text{
	color: white;
	position: relative;
	text-align: center;
	padding-top: 2px;
	font-size: larger;
}
div#button-row{
	margin-top: 35px;
	margin-left: 20%;
	width: 100%;

}
div#button-row > span{
	float: left;
}
div#button-row > span + span{
	margin-left: 17%;
}
.config-form{
	margin-left: 20%;
}
label#form-label, input{
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 375px;
	height: 30px;
	position: relative;
}

label#form-label{
	margin-top: 20px;
	margin-bottom: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: larger;
}
button:disabled{
	background:#dddddd;
}
div.container{
	width: 50%;
	margin-left: 20%;
}
