@import "imports";

$togglebg : #555;
$toggletxtbg : #fff;

#log-select {
	display: inline-block;
  width: 100%;

	>label {
		margin: 0;
    display: flex;
    float: left;
		width: 15%;
		height: 20%;
    align-items: center;

		//@include transition(color .2s ease-out);
		&[for=spark-ui] {
			@include colorize($togglebg, $toggletxtbg);
		}
		&[for=spark] {
			@include colorize($togglebg, $toggletxtbg);
		}
		&[for=tracing] {
			@include colorize($togglebg, $toggletxtbg);
		}
		&[for=system] {
			@include colorize($togglebg, $toggletxtbg);
		}

		input {
			display: none;
			@extend h4;

			+ span {
				@extend h4;
        margin: auto;
			}

			&:checked + span {
				text-shadow:  1px  rgba(255,255,255,.5);
			}
		}
	}
}
