#progress-bar-success{
	margin-top: 15%;
	width: 90%;
	height: 25px;
	background-color: #52f965;
	background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-size: 40px 40px;
	animation: progress-bar-stripes 2s linear infinite;
}
#receiveh3{
	margin-left: 40%;
}
button#receiver{
	margin-left: 100%;

}
