@import "../../lib/imports";

#viewDApps {
  display: block;
  margin: auto;
  padding: 20px;
  text-align: center;
  display: inline-block;
  background-color: $blue;

  .dapp {
    text-align: left;
    position: relative;
    float: left;
    width: 200px;
    height: 200px;
    padding: 30px;
    background-color: $gray-light;
    color: $black;
    margin: 20px 50px;

    &.clearLeft {
      clear: left;
    }
    &.placeholder {
      background-color: transparent;
    }

    h3 {
      text-align: center;
    }
  }
}
